<h3 class="ui header">{{t "forms.i-i-s-uchet-med-zueva10-класс-вред-фактор-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.вредныйФактор
      class=(if (v-get validationModel "вредныйФактор" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva10-класс-вред-фактор-e.вредныйФактор-caption")
      data-test-i-i-s-uchet-med-zueva10-класс-вред-фактор-e-вредныйФактор=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "вредныйФактор" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-med-zueva10-класс-вред-фактор-e.подразделение-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.подразделение
      displayAttributeName="наименование"
      autocomplete=true
      relationName="подразделение"
      projection="ПодразделениеL"
      title=(t "forms.i-i-s-uchet-med-zueva10-класс-вред-фактор-e.подразделение-caption")
      readonly=readonly
      componentName="подразделениеLookup"
      class=(if (v-get validationModel "подразделение" "isInvalid") "error")
      data-test-i-i-s-uchet-med-zueva10-класс-вред-фактор-e-подразделение=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "подразделение" "message")}}
  </div>
</form>
