<h3 class="ui header">{{t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.номер-caption")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.организации-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.организации
      displayAttributeName="наименование"
      autocomplete=true
      relationName="организации"
      projection="ОрганизацииL"
      title=(t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.организации-caption")
      readonly=readonly
      componentName="организацииLookup"
      class=(if (v-get validationModel "организации" "isInvalid") "error")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-организации=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "организации" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.медУчреждение-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.медУчреждение
      displayAttributeName="наименование"
      autocomplete=true
      relationName="медУчреждение"
      projection="МедУчреждениеL"
      title=(t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.медУчреждение-caption")
      readonly=readonly
      componentName="медУчреждениеLookup"
      class=(if (v-get validationModel "медУчреждение" "isInvalid") "error")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-медУчреждение=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "медУчреждение" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="фИО"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.номер
      class=(if (v-get validationModel.сотрудники "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.сотрудники.номер-caption")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-сотрудники-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.должности.наименование
      class=(if (v-get validationModel.сотрудники.должности "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.сотрудники.должности.наименование-caption")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-сотрудники-должности-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники.должности "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.подразделение.наименование
      class=(if (v-get validationModel.сотрудники.подразделение "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.сотрудники.подразделение.наименование-caption")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-сотрудники-подразделение-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники.подразделение "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-med-zueva10-инд-напр-медосм-e.вреднФактПроиз-caption"}}</label>
    {{flexberry-groupedit
      componentName="вреднФактПроизGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.вреднФактПроиз
      content=model.вреднФактПроиз
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "вреднФактПроиз" "isInvalid") "error")
      data-test-i-i-s-uchet-med-zueva10-инд-напр-медосм-e-вреднФактПроиз=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "вреднФактПроиз" "message")}}
  </div>
</form>
